#jf-section-login {
  padding: 20px 0;
}

.jf-login-container {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
    background-color: var(--jf-tertiary-background);
    border-radius: 4px;
    border: 1px solid var(--jf-secondary-border-color);
    padding: 20px;
}

.jf-login-container h2 {
    text-align: center;
    color: var(--jf-primary-font-color);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}


.jf-form-login {
   margin-bottom: 20px;
}

.jf-form-login input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--jf-secondary-border-color);
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
}

.jf-form-login input::placeholder {
    color:var(--jf-placeholder-font-color);
    font-size: 16px;
}