#jf-section-order {
    padding: 20px 0;
}

.jf-name-order {
    color: var(--jf-quartenary-font-color);
    font-size: 12px;
}

.jf-message-order {
    color: var(--jf-primary-font-color);
    font-size: 16px;
    text-align: center;
}

@media(min-width: 575px){
    .jf-message-order {
        font-size: 24px;
        text-align: left;
    }
}