#jf-section-form-product {
    padding: 20px 0;
}

.jf-container-form-product {
    background-color: var(--jf-tertiary-background);
    border: 1px solid var(--jf-secondary-border-color);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.jf-title-form-product {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--jf-primary-font-color);
}

@media(min-width: 576px){
    .jf-title-form-product {
        font-size: 24px;
    }
}


.jf-form-product {
    display: grid;
    grid-gap: 20px;
}

.jf-btn-container-form {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    width: 100%;
}