.jf-container-card {
    max-width: 280px;
    background-color: var(--jf-tertiary-background);
    border: 1px solid var(--jf-secondary-border-color);
    border-radius: 4px;
}

.jf-item-top {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.jf-item-top img{
  width: 150px;
  height: 150px;
}

.jf-item-bottom {
    padding: 10px 20px;
}

.jf-price {
    font-size: 20px;
    color: var(--jf-quartenary-font-color);
}

.jf-name {
    color: var(--jf-primary-font-color);
    font-size: 12px;
}